
.logo{
z-index:1;
position:fixed;
top:0;
left:0;
width:100vw;
}

.images{
position:absolute;
top:470px;
width:100vw;

-webkit-animation: images 2s ease;
}

@keyframes images
{
  0% {
    top: 0%;
  }
  100% {
    top: 65%;;
  }
}

.text1{
z-index:-1;
position:absolute;
top:110px;
width:100vw;
left:0vw;

}


.resources{
position:absolute;
z-index:1;
left:35vw;
color:rgb(100,100,100);
top:890px;
letter-spacing:.2vw;
line-height:50px;
font-weight:500;
font-family: 'Hind', sans-serif;
font-size:50px;
}


.print{
z-index:-1;
position:absolute;
top:1270px;
left:0vw;
width:100vw;
}

.home{
z-index:1;
position:fixed;
color:rgb(0,225,218);
top:25px;
font-weight:300;
left:50vw;
font-family: 'Hind', sans-serif;
font-size:17px;
opacity:0.5;
}

.home:hover{
font-weight:700;
}

.stories{
z-index:1;
position:fixed;
color:rgb(0,225,218);
top:25px;
left:60vw;
font-family: 'Hind', sans-serif;
font-size:17px;
opacity:0.5;

}
.stories:hover{
font-weight:700;
}

.symptoms{
z-index:1;
position:fixed;
color:rgb(0,225,218);
top:25px;
left:70vw;
font-family: 'Hind', sans-serif;
font-size:17px;
opacity:0.5;


}
.symptoms:hover{
font-weight:700;
}

.helpcenters{
z-index:1;
position:fixed;
color:rgb(0,225,218);
top:25px;
left:82vw;
font-family: 'Hind', sans-serif;
font-size:17px;
opacity:0.5;

}

.helpcenters:hover{
font-weight:700;
}

.story{
z-index:0;
position:absolute;
top:80px;
left:0;
width:100vw;
height:100vh;

}

.headerstories{
position:absolute;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:350px;
letter-spacing:.2vw;
line-height:50px;
font-weight:700;
font-family: 'Hind', sans-serif;
font-size:62px;
}

.storytext{
position:absolute;
z-index:0;
left:55vw;
color:rgb(90,90,90);
top:345px;
width:30vw;
line-height:22px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:17px;
}

.divider{
z-index:-1;
position:absolute;
top:540px;
left:0;
width:100vw;
}

.group{
z-index:0;
position:absolute;
top:530px;
left:5vw;
width:100vw;
}

.mhover1{
	position:absolute;
	z-index:1;
	left:53.6vw;
	top:810px;
	width:8vw;
	height:16vh;
	background-color:black;	
	opacity:0;
}

.mhover1:hover{
	opacity:0.4;
	}



.pulse{
z-index:0;
position:absolute;
top:1155px;
left:0vw;
width:100vw

}
.storybottomtext{
position:absolute;
text-align: center;
z-index:0;
left:32vw;
color:rgb(90,90,90);
top:1345px;
width:30vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:20px;
}

.mportrait{
	z-index:0;
position:absolute;
top:20px;
left:0vw;
width:100vw
}

.meetmichael{
	position:absolute;
z-index:0;
left:20vw;
color:rgb(90,90,90);
top:240px;
letter-spacing:.2vw;
line-height:50px;
font-weight:700;
font-family: 'Hind', sans-serif;
font-size:62px;
}

.dot{
	position:absolute;
z-index:0;
left:42vw;
top:319px;
width:1vw;
height:12px;
background-color:rgb(0,225,218);

}

.button {
	position:absolute;
	top:700px;
	left:20vw;
  border-radius: 7px;
  background-color: rgb(0,225,218);
  border: black;
 height:17px;
  padding: 20px;
  width: 120px;
  font-weight:400;
font-family: 'Hind', sans-serif;
font-size:1vw;
  cursor: pointer;
  margin: 5px;
}



.button:hover {
	background-color: rgb(90,90,90);

 
}

.scroll{
	
	position:absolute;
	top:380px;
	left:22vw;
height:100px;
    width:250px;
    line-height:20px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:14px;
opacity:0.8;
   
    
}

.howto{
		z-index:0;
position:absolute;
top:800px;
left:0vw;
width:100vw
}


.slider {
  max-width: 100vw;
  height: 400px;
  margin: 290px auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(text2.gif)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(text1.gif)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(text3.gif)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


.headercenters{
position:absolute;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:350px;
letter-spacing:.2vw;
line-height:50px;
font-weight:700;
font-family: 'Hind', sans-serif;
font-size:62px;
}

.centertext{
position:absolute;
z-index:0;
left:55vw;
color:rgb(90,90,90);
top:345px;
width:30vw;
line-height:22px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:17px;
}

.pulse2{
			z-index:0;
position:absolute;
top:620px;
left:13vw;
width:100vw;
opacity:0.3;

}

.pulse3{
			z-index:0;
position:absolute;
top:1090px;
left:15vw;
width:100vw;
opacity:0.3;

}

.centercaption1{
position:absolute;
text-align: left;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:660px;
width:30vw;
line-height:30px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:20px;
}

.centercaption2{
position:absolute;
text-align: left;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:1180px;
width:30vw;
line-height:30px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:20px;
}

.centerinfo{
position:absolute;
z-index:0;
left:55vw;
color:rgb(0,225,218);
top:645px;
width:30vw;
line-height:22px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:17px;
}

.centerinfo2{
position:absolute;
z-index:0;
left:55vw;
color:rgb(0,225,218);
top:1150px;
width:30vw;
line-height:22px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:17px;
}

.decor1{
				z-index:0;
position:absolute;
top:540px;
left:0vw;
width:100vw;
opacity:0.5;
}

.decor2{
				z-index:0;
position:absolute;
top:1040px;
left:0vw;
width:100vw;
opacity:o.5;
}

.bottomheader{
					z-index:0;
position:absolute;
top:1600px;
left:0vw;
width:100vw;
}

.bottomheader2{
					z-index:0;
position:absolute;
top:1500px;
left:0vw;
width:100vw;
}

.headersymptoms{
position:absolute;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:350px;
letter-spacing:.2vw;
line-height:50px;
font-weight:700;
font-family: 'Hind', sans-serif;
font-size:62px;
}

.orangetexture{
					z-index:0;
position:absolute;
top:580px;
left:0vw;
width:100vw;
opacity:0.4;
}

.symptomstext{
position:absolute;
z-index:0;
left:59vw;
color:rgb(90,90,90);
top:345px;
width:30vw;
line-height:22px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:17px;
}


.chart{
						z-index:0;
position:absolute;
top:600px;
left:0vw;
width:100vw;

}

.depressive{
position:absolute;
text-align: left;
z-index:0;
left:32vw;
color:rgb(90,90,90);
top:660px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.depressivedes{
position:absolute;
text-align: left;
z-index:0;
left:0vw;
color:rgb(90,90,90);
top:110px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.somatization{
position:absolute;
text-align: left;
z-index:0;
left:22vw;
color:white;
top:0px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.somatizationdes{
position:absolute;
text-align: left;
z-index:0;
left:0vw;
color:white;
top:110px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}
.anxiety{
position:absolute;
text-align: left;
z-index:0;
left:-24vw;
color:rgb(90,90,90);
top:270px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.anxietydes{
position:absolute;
text-align: left;
z-index:0;
left:0vw;
color:rgb(90,90,90);
top:110px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.confusion{
position:absolute;
text-align: left;
z-index:20;
left:25.5vw;
color:rgb(90,90,90);
top:-110px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.confusiondes{
position:absolute;
text-align: left;
z-index:0;
left:0w;
color:rgb(90,90,90);
top:95px;
width:30vw;
letter-spacing: .4vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}
.centercaption1{
position:absolute;
text-align: left;
z-index:0;
left:28vw;
color:rgb(90,90,90);
top:660px;
width:30vw;
line-height:30px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:20px;
}
.braindivider{
						z-index:0;
position:absolute;
top:370px;
left:-55vw;
width:100vw;

}

.mentalconditions{
position:absolute;
z-index:0;
left:-25vw;
color:rgb(90,90,90);
top:811px;
letter-spacing:.2vw;
line-height:50px;
font-weight:700;
font-family: 'Hind', sans-serif;
font-size:62px;
}

.conditiondes{
position:absolute;
text-align: left;
z-index:0;
left:0w;
color:rgb(90,90,90);
top:1050px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:16px;
}

.conditionnames{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1050px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames1{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1180px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames2{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1300px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames3{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1402px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames4{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1475px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames6{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1554px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}
.conditionnames7{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1624px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}

.conditionnames8{
position:absolute;
text-align: left;
z-index:0;
left:-20vw;
color:rgb(90,90,90);
top:1710px;
width:30vw;
letter-spacing: .1vw;
line-height:25px;
font-weight:400;
font-family: 'Hind', sans-serif;
font-size:22px;
}