.logo{
	z-index:1;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
}

.images{
	position:absolute;
	top:550px;
	width:100vw;

-webkit-animation: images 2s ease;
}

@keyframes images
{
  0% {
    top: 0%;
  }
  100% {
    top: 85%;;
  }
}

.text1{
	z-index:-1;
	position:absolute;
	top:130px;
	width:100vw;
	left:0vw;

}

.prule{
	position:absolute;
	z-index:1;
	top:1420px;
	width:100vw;
	height:50px;
	background-color:rgb(87,85,160);

}

.wrule{
	position:absolute;
	z-index:0;
	top:1420px;
	width:100vw;
	height:300px;
	background-color:white;

}
.resources{
	position:absolute;
	z-index:1;
	left:28vw;
	color:rgb(100,100,100);
	top:1050px;
	letter-spacing:.2vw;
	line-height:50px;
	font-weight:700;
	font-family: 'Hind', sans-serif;
	font-size:40px;
	
}
.res{
	z-index:0;
	position:absolute;
	top:800px;
	left:-10vw;
	width:100vw;
}

.print{
	z-index:-1;
	position:absolute;
	top:1270px;
	left:0vw;
	width:100vw;
}

.home{
	z-index:1;
	position:fixed;
	color:rgb(0,225,218);
	top:25px;
	font-weight:300;
	left:50vw;
	font-family: 'Hind', sans-serif;
	font-size:17px;
	opacity:0.5;
}

.home:hover{
	font-weight:700;
}

.stories{
	z-index:1;
		position:fixed;
	color:rgb(0,225,218);
	top:25px;
	left:60vw;
	font-family: 'Hind', sans-serif;
	font-size:17px;
	opacity:0.5;

}
.stories:hover{
	font-weight:700;
}

.symptoms{
	z-index:1;
		position:fixed;
	color:rgb(0,225,218);
	top:25px;
	left:70vw;
	font-family: 'Hind', sans-serif;
	font-size:17px;
	opacity:0.5;


}
.symptoms:hover{
	font-weight:700;
}

.helpcenters{
	z-index:1;
		position:fixed;
	color:rgb(0,225,218);
	top:25px;
	left:82vw;
	font-family: 'Hind', sans-serif;
	font-size:17px;
	opacity:0.5;

}

.helpcenters:hover{
	font-weight:700;
}

.story{
	z-index:0;
	position:absolute;
	top:80px;
	left:0;
	width:100vw;
	height:100vh;

}

.headerstories{
		position:absolute;
	z-index:0;
	left:28vw;
	color:rgb(90,90,90);
	top:350px;
	letter-spacing:.2vw;
	line-height:50px;
	font-weight:700;
	font-family: 'Hind', sans-serif;
	font-size:62px;
}

.storytext{
	position:absolute;
	z-index:0;
	left:55vw;
	color:rgb(90,90,90);
	top:345px;
	width:30vw;
	line-height:22px;
	font-weight:400;
	font-family: 'Hind', sans-serif;
	font-size:17px;
}

.divider{
	z-index:-1;
	position:absolute;
	top:540px;
	left:0;
	width:100vw;
}

.group{
	z-index:0;
	position:absolute;
	top:530px;
	left:5vw;
	width:100vw;
}

.hoverbox1{
	position:absolute;
	z-index:1;
	left:14.5vw;
	top:672px;
	width:8.0vw;
	height:18vh;
	background-color:black;
	opacity:0;
}

.hoverbox1:hover{
	opacity:0.2;
}

.hoverbox1{
	position:absolute;
	z-index:1;
	left:14.5vw;
	top:672px;
	width:8.0vw;
	height:18vh;
	background-color:black;
	opacity:1;
}

.pulse{
	z-index:0;
	position:absolute;
	top:1155px;
	left:0vw;
	width:100vw

}
.storybottomtext{
	position:absolute;
	text-align: center;
	z-index:0;
	left:32vw;
	color:rgb(90,90,90);
	top:1345px;
	width:30vw;
	line-height:25px;
	font-weight:400;
	font-family: 'Hind', sans-serif;
	font-size:20px;
}

