body { 
  margin: 0;
  padding: 0;
  background-color: rgb(249,173,147);
  height:500px;
}

.hourglass{
  z-index:1;
  position:absolute;
  left:15.9vw;
  top:5vh;
  animation-name: animationB;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  

  content:url(hour.gif);
  transform: rotate(360deg);
  transform-origin: center;
}

@keyframes animationB {
  0% {

    transform: rotate(0deg);
  }
  
 
  100% {
    
    transform: rotate(360deg);
  }
}
.second3 {
  position: absolute;
  z-index:0;
 top: 20vw;
  left: 4vw;
  width: 12vw;
  height: 12vw;
  border-radius:50%;
  background-color:rgb(249,173,147);
}

.minute {
  z-index:0;
  position: absolute;
  top: -22vw;
  left: 0vw;
  width: 100vw;
  height: 100vw; 
  margin-bottom:0px;
  background-image: url(0.gif);
  background-size: contain;
  background-position: center center;  
 background-:no-repeat; 
  animation-name: swapImage;
  animation-duration: 60s;
  animation-iteration-count: infinite;  
}

@keyframes swapImage {
  0% {
    background-image: url(0.gif);
  }

  10% {
    background-image: url(minstart.gif);
  }
  20% {
    background-image: url(min2.gif);
  }  
  30% {
    background-image: url(min3.gif);
  }  
  40% {
    background-image: url(min4.gif);
  }  
  50% {
    background-image: url(min5.gif);
  }
  60% {
    background-image: url(min6.gif);
  }
  70% {
    background-image: url(min7.gif);
  }  
  80% {
    background-image: url(min8.gif);
  }  
  90% {
    background-image: url(min9.gif);
  }  
  100% {
    background-image: url(min10.gif);
  }    
}
.second2 {
  position: absolute;
 top: 20vw;
  left: 9vw;
  width: 12vw;
  height: 12vw;
  border-radius:50%;
  animation-name: animationA;
  animation-duration: .06s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 
}
.second {
  position: absolute;
  z-index:0;
 top: 20vw;
  left: 80vw;
  width: 12vw;
  height: 12vw;
  border-radius:50%;
  animation-name: animationA;
  animation-duration: .06s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationA {
  0% {
    background-color: rgb(251,216,52);
  }
  
    100% {
    background-color:white ;
  }
}
.wakeup{
  z-index:1;
  position: absolute;
  top:0vw;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  display:none;
}

.button{

  z-index:1;
  position: absolute;
  top:220px;
  left: 16vw;
  width: 100vw;
  height: 100vw;
  display:none;
  cursor:pointer;
}

.alarming{
  z-index:1;
  display:block;
}

.alarming2{
  z-index:1;
  display:block;
}
