


.date2{
	position:absolute;
	top:550px;
	left:350px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 line-height:12px;
 font-weight: 500;
  color: black;
}

.gif{
	position:absolute;
	left:400px;
}


.circle {
position:absolute;
	top:240px;
	left:500px;
	width: 250px;
	height: 250px;
	background: black;
	border-radius: 250px;
	border-radius: 250px;
	border-radius: 250px;

}




.shape1{
	position:absolute;
	top:540px;
	left:240px;
	width: 85px;
	height: 85px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}

.date{
	position:absolute;
	top:600px;
	left:350px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 20px;
 font-weight: 400;
  color: black;
}

.shape2{
	position:absolute;
	top:670px;
	left:240px;
	width: 85px;
	height: 85px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}

.shape3{
	position:absolute;
	top:820px;
	left:240px;
	width: 85px;
	height: 85px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}


.ny{
	position:absolute;
	top:250px;
	left:80px;
	font-family: 'Merriweather', serif;
 font-size: 80px;
 font-weight: 900;
  color: black;
}

.fash{
	position:absolute;
	top:340px;
	left:269px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 50px;
 font-weight: 500;
  color: rgb(255,204,51);
}

.week{
	position:absolute;
	top:390px;
	left:340px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 50px;
 font-weight: 500;
  color: black;
}
.link {
	position:absolute;
	top:740px;
	left:340px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
 color:black;
}

.link2 {
	position:absolute;
	top:832px;
	left:340px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  color: black;
}

.boxchange{
	    position:absolute;
	    top:820px;
	    left:300px;
	    height:10px;
		width: 114px;
		border: 12px solid rgb(255,204,51);
		
	}

	.boxchange:hover{
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
	}


.boxchange2{
	    position:absolute;
	    top:730px;
	    left:300px;
	    height:10px;
		width: 114px;
		border: 12px solid rgb(255,204,51);
		
	}

	.boxchange2:hover{
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
	}

.boxchange3{
	    position:absolute;
	    top:590px;
	    left:300px;
	    height:10px;
		width: 114px;
		border: 12px solid rgb(255,204,51);
		
	}

	.boxchange3:hover{
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
		box-shadow: 0 0 30px #ccc;
	}


.link3 {
	position:absolute;
	top:600px;
	left:350px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  color:black;
}


.blackbox{
	position:absolute;
	top:990px;
	left:0px;
	width: 1280px;
	height: 85px;
	background: black;
}

.ystripe1{
	position:absolute;
	top:0px;
	left:100px;
	width: 20px;
	height: 200px;
	background:rgb(255,204,51) ;
}

.ystripe2{
	position:absolute;
	top:0px;
	left:130px;
	width: 20px;
	height: 200px;
	background:rgb(255,204,51) ;
}
.bstripe{
	position:absolute;
	top:0px;
	left:160px;
	width: 20px;
	height: 200px;
	background:rgb(153,153,204) ;
}

.ystripe3{
	position:absolute;
	top:0px;
	left:190px;
	width: 20px;
	height: 200px;
	background:rgb(255,204,51) ;
}






