.date1{
	position:absolute;
	top:580px;
	left:380px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 20px;
 font-weight: 400;
  color: black;
}	

.date2{
	position:absolute;
	top:620px;
	left:390px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  color: black;
}

.details{
		position:absolute;
	top:777px;
	left:380px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 20px;
 font-weight: 400;
  color: black;
}

.tickets{
		position:absolute;
	top:920px;
	left:380px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 20px;
 font-weight: 400;
  color: black;
}

.location{
		position:absolute;
	top:820px;
	left:390px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 400;
line-height:20px;
  color: black;
}

.circle {
	position:absolute;
	top:240px;
	left:500px;
	width: 250px;
	height: 250px;
	background: black;
	border-radius: 250px;
	border-radius: 250px;
	border-radius: 250px;

}
.gif{
	position:absolute;
	top:190px;
	left:480px;
}

.line1 {
	position:absolute;
	top:180px;
	left:460px;
	width: 550px;
	height: 70px;
	background: white;
	
}

.pink1 {
	position:absolute;
	top:350px;
	left:190px;
	width: 300px;
	height: 70px;
	background: rgb(2014,51,102);
	
}
.pink2 {
	position:absolute;
	top:350px;
	left:590px;
	width: 300px;
	height: 70px;
	background: white;
	
}

.pink3 {
	position:absolute;
	top:570px;
	left:590px;
	width: 300px;
	height: 70px;
	background: rgb(2014,51,102);
	
}




.line2 {
	position:absolute;
	top:350px;
	left:450px;
	width: 550px;
	height: 70px;
	background: white;
	
}	

.line3 {
	position:absolute;
	top:570px;
	left:450px;
	width: 550px;
	height: 70px;
	background: white;
	
}	

.line4 {
	position:absolute;
	top:770px;
	left:450px;
	width: 550px;
	height: 10px;
	background: white;
	
}


.shape1{
	position:absolute;
	top:600px;
	left:280px;
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}

.date{
	position:absolute;
	top:600px;
	left:350px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 20px;
 font-weight: 400;
  color: black;
}

.shape2{
	position:absolute;
	top:770px;
	left:280px;
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}

.shape3{
	position:absolute;
	top:920px;
	left:280px;
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 70px;
	border-radius: 70px;
	border-radius: 70px;
}


.ny{
	position:absolute;
	top:80px;
	left:190px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 50px;
 font-weight: 800;
  color: black;
}

.fash{
	position:absolute;
	top:130px;
	left:285px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 40px;
 font-weight: 500;
  color: black;
}

.week{
	position:absolute;
	top:170px;
	left:340px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 40px;
 font-weight: 500;
  color: black;
}
.link {
	position:absolute;
	top:862px;
	left:389px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  background-color:rbg(204,204,153);
}

.link2 {
	position:absolute;
	top:962px;
	left:389px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  background:rbg(204,204,153);
}

.link3 {
	position:absolute;
	top:662px;
	left:389px;
	font-family: 'Barlow Semi Condensed', sans-serif;
 font-size: 12px;
 font-weight: 500;
  background:rbg(204,204,153);
}

.base{
	position:absolute;
}



.righttriangle {
	position:absolute;
	top:670px;
	left:500px;
	width: 0;
	height: 0;
	border-bottom: 100px solid white;
	border-left: 480px solid transparent;
}

.designers{
	position:absolute;
	top:1150px;
	left:297px;
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgb(2014,51,102);
}

.a{
	position:absolute;
	top:1350px;
	left:297px;
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgb(2014,51,102);
}

.b{
	position:absolute;
	top:1570px;
	left:297px;
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgb(2014,51,102);
}

.ades{
	position:absolute;
	top:1430px;
	left:297px;
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height:20px;
}


.bdes{
	position:absolute;
	top:1630px;
	left:297px;
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height:20px;
}






