
.header{
position: absolute;
top:-17px;
left:-17px;
font-family: 'Hind', sans-serif;
font-weight: bold;
width: 400px;
font-size: 150px;
line-height:100px;

}

.right{
  position: absolute;
  top: 500px;
  left: 500px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  height: 50%;
  overflow: scroll;


}

.leftblock {
  position:absolute;
top:500px;
left:300px;
width:170px;
font-family: 'Hind', sans-serif; 
font-size: 19px;
font-weight: bold;
line-height:5px;
letter-spacing:1px;
text-align: right;
line-height:19px;
color:rgb(255,102,102);
opacity: 0.5;
}

.decor{
  position:absolute;
  top:1000px;
  left:0px;
  width:500px;
  font-family: 'Hind', sans-serif; 
font-size: 40px;
font-weight: bold;
letter-spacing: 1px;

}

.right2{
  position: absolute;
  top: 1200px;
  left: 500px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  height: 70%;
  overflow: scroll;
}

.problem{
  position:absolute;
  top :1348px;
  left:230px;
  font-family: 'Hind', sans-serif; 
  font-size: 100px;
  font-weight: bold;
  transform: rotate(-90deg);
  color:rgb(255,102,102);
}

.image{
  position:absolute;
  top :1650px;
  left:-115px;
  width: 1500px;
  height: 100%;
  transform: scale(0.5, 0.5);
  overflow: scroll;
}

.leftx{
  position:absolute;
  top :2120px;
  left:-50px;
  font-family: 'Hind', sans-serif; 
font-size: 1000px;
font-weight: bold;

}

.rightx{
  position:absolute;
  top :2120px;
  left:800px;
  font-family: 'Hind', sans-serif; 
font-size: 1000px;
font-weight: bold;
}

.right2x{
  position:absolute;
  top :2120px;
  left:375px;
  font-family: 'Hind', sans-serif; 
font-size: 1000px;
font-weight: bold;
}

.qoute{
  position: absolute;
  top: 500px;
  left: 800px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 19px;
  font-weight:bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  height: 50%;
  overflow: scroll;
  color:rgb(255,102,102);
  opacity: 0.8;
}


.tedtalk{

  position: absolute;
  top: 1200px;
  left: 800px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 19px;
  font-weight:bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  height: 50%;
  overflow: scroll;
  color:rgb(255,102,102);
  opacity: 0.8;
}

.header2{
  position: absolute;
top:-2px;
left:-17px;
font-family: 'Hind', sans-serif;
font-weight: bold;
width: 400px;
font-size: 140px;
line-height:90px;
}

.psychology{
  position: absolute;
  top: 550px;
  left: 550px;
  width: 240px;
  font-family: 'Hind', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  height: 65%;
  overflow: scroll;
}

.title1 {
  position:absolute;
  top:800px;
left:380px;
width:170px;
  font-family: 'Hind', sans-serif; 
  font-size: 100px;
  font-weight: bold;
  line-height:70px;
  transform: rotate(-90deg);
  color:rgb(255,102,102);
}

.disorders{
  position: absolute;
  top: 1190px;
  left: 550px;
  width: 240px;
  font-family: 'Hind', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  height: 65%;
  overflow: scroll;
}


.title2 {
  position:absolute;
  top:1550px;
left:380px;
width:170px;
  font-family: 'Hind', sans-serif; 
  font-size: 100px;
  font-weight: bold;
  line-height:70px;
  transform: rotate(-90deg);
  color:rgb(255,102,102);
}

.title3 {
  position:absolute;
  top:2400px;
left:412px;
width:170px;
  font-family: 'Hind', sans-serif; 
  font-size: 100px;
  font-weight: bold;
  line-height:70px;
  transform: rotate(-90deg);
  color:rgb(255,102,102);
}

.experiences {
position: absolute;
  top: 1905px;
  left: 550px;
  width: 245px;
  font-family: 'Hind', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: left;
  height: 80%;
  overflow: scroll;

}

.psychologyright {
  position: absolute;
  top: 550px;
  left: 812px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 19px;
  font-weight:bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  height: 50%;
  overflow: scroll;
  color:rgb(255,102,102);
  opacity: 0.9;

}

.eatingdisorderright{
  position: absolute;
  top: 1187px;
  left: 812px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 19px;
  font-weight:bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  height: 70%;
  overflow: scroll;
  color:rgb(255,102,102);
  opacity: 0.9;

}

.experienceright{
    position: absolute;
  top: 1900px;
  left: 812px;
  width: 250px;
  font-family: 'Hind', sans-serif; 
  font-size: 19px;
  font-weight:bold;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  height: 60%;
  overflow: scroll;
  color:rgb(255,102,102);
  opacity: 0.9;
}

.backgroundpink {
  position:absolute;
  width: 829px;
  height: 600px;
  top: 130px;
  left: 222px;
  background-color: rgb(255,102,102);

}
.consent{
  position:absolute;
  top:3500px;
left:400px;
font-family: 'Hind', sans-serif;
font-weight: 400;
width: 470px;
font-size: 15px;
line-height:20px;
opacity: 0.5;
text-align: center;
}

.click1 {
  position:absolute;
  top:2750px;
  left:312px;
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 170px solid rgb(255,102,102);
}
  .click2{
position:absolute;
  top:2920px;
  left:312px;
width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 170px solid rgb(255,102,102);
  }

  .click3{
position:absolute;
  top:2750px;
  left:735px;
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 170px solid rgb(255,102,102);
  }

  .click4{
    position:absolute;
  top:2920px;
  left:735px;
width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 170px solid rgb(255,102,102);
  }

.click5 {
  position:absolute;
  top:3052px;
  left:538px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 170px solid rgb(255,102,102);
}

.click6 {
  position:absolute;
  top:3222px;
  left:538px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 170px solid rgb(255,102,102);
  }

.click7{
  position:absolute;
  top:2452px;
  left:549px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 170px solid rgb(255,102,102);
}

.click8{
  position:absolute;
  top:2622px;
  left:549px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 170px solid rgb(255,102,102);
}

.reverse {
  position:absolute;
  top:2580px;
  left:550px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 200px;
font-size: 30px;
color:rgb(255,255,255);
text-align: center;
}



.effects{
  position:absolute;
  top:2900px;
  left:369px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 400px;
font-size: 30px;
color:rgb(255,255,255);
}

.click2:hover {
  color: black ;
  background-color: solid white ;
}


.promoting{
  position:absolute;
  top:2875px;
  left:772px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 300px;
font-size: 29px;
color:rgb(255,255,255);
}


.needhelp{
  position:absolute;
  top:3200px;
  left:565px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 300px;
font-size: 29px;
color:rgb(255,255,255);
}

.help{
position:absolute;
top:130px;
left:223px;
opacity:0.4;
}

.outline {
  position:absolute;
  top:300px;
  left:450px;
  width: 300px;
  height:50px;
    border: 5px solid white;
    padding: 20px;
    margin: 25px;
    
   
}

.texthelp{

    position:absolute;
  top:350px;
  left:545px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 400px;
font-size: 39px;
color:rgb(255,255,255);
}


.bodyhelp{
  position:absolute;
  top:465px;
  left:530px;
  font-family: 'Hind', sans-serif;
font-weight: 400;
width: 250px;
font-size: 13px;
color:rgb(255,255,255);
}


.xhelp{
  position:absolute;
  top:-319px;
  left:100px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 250px;
font-size: 700px;
color:rgb(255,255,255);
}


.helpnumber{
  position:absolute;
  top:640px;
  left:370px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 900px;
font-size: 100px;
color:rgb(255,255,255);

}


.sexobjecttest{
  position:absolute;
  top:2220px;
  left:533px;
  font-family: 'Hind', sans-serif;
font-weight: bold;
width: 900px;
font-size: 30px;
color:rgb(255,102,102);

}

.arrow{
   position:absolute;
  top:2640px;
  left:188px;
  font-family: 'Hind', sans-serif;
font-weight: 400;
width: 900px;
font-size: 90px;
color:rgb(224,224,224);
transform: rotate(90deg);
}


.questions{
  position:absolute;
  top:2320px;
  left:500px;
  font-family: 'Hind', sans-serif;
font-weight: 400;
width: 300px;
font-size: 15px;
line-height: 19px;
color:rgb(200,200,200);
height: 10%;
  overflow: scroll;
}



.space {
  position:absolute;
  top:2600px;
  left:500px;
  font-family: 'Hind', sans-serif;
font-weight: 400;
width: 300px;
font-size: 15px;
line-height: 19px;
color:rgb(255,255,255);
}






