html, body {
  background: url(back.gif) no-repeat center center fixed;
  margin: 7vh;
  padding: 0;
  margin-bottom:2vh;
}

.post1{
  position:absolute;
content:url(post1.gif);
top:660px;
left:0vw;
width:100vw;

}

.post2{
  position:absolute;
content:url(post2.gif);
top:920px;
left:0vw;
width:98vw;

}

.post3{
  position:absolute;
content:url(post3.gif);
top:1185px;
left:2vw;
width:95vw;

}

.post4{
  position:absolute;
content:url(post4.gif);
top:1450px;
left:0vw;
width:101vw;

}

.post5{
  position:absolute;
content:url(post5.gif);
top:1722px;
left:0vw;
width:100vw;

}

.post6{
  position:absolute;
content:url(post6.gif);
top:1985px;
left:0vw;
width:100vw;

}
.post7{
  position:absolute;
content:url(post7.gif);
top:2270px;
left:0vw;
width:100vw;

}
.post8{
  position:absolute;
content:url(post8.gif);
top:2534px;
left:5vw;
width:100vw;

}
.dot{
  position:absolute;
  z-index:1;
  top:-10px;
  left:10vw;
  width: 4vw;
  height: 4px;
  background: rgb(255,51,51);
}

.divider6{
  position:absolute;
  top:1765px;
  left:0vw;
  width:90%;
  height: 350px;
  background:rgb(255,51,51); 
  opacity:0.7;
}

.divider5{
  position:absolute;
  top:2959px;
  left:0vw;
  width:90%;
  height: 220px;
  background:rgb(255,51,51); 
  opacity:0.7;
}

.divider4{
  position:absolute;
  top:2787px;
  left:0vw;
  width:90%;
  height: 220px;
  background:rgb(255,51,51); 
  opacity:0.7;
}

.divider3{
  position:absolute;
  top:2170px;
  left:10vw;
  width:100%;
  height: 270px;
  background:rgb(255,51,51); 
  opacity:0.7;
}

.divider2{
  position:absolute;
  top:995px;
  left:10vw;
  width:100vw;
  height: 270px;
  background:rgb(255,51,51); 
  opacity:0.7;
}



.divider{
  position:absolute;
  left:0;
  width: 100%;
  height: 470px;
  background: rgb(255,51,51);
}

.pointer{
  position:absolute;
  top:530px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid rgb(255,51,51);
}
img {
  position:absolute;
  width: 70vw;
  margin-left:17vw;
  margin-top: 30px;
  margin-bottom: 23px;
}


body {
  width: 98vw;
  margin-left: 2vw;
   margin-right: 2vw;
   margin-bottom:10px;
}





 h1 {
  animation: 2s slide-down;
  margin-top:0%;
  position:relative;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 20vw;
  margin-top: 10px;
  margin-bottom: 60px;
  color:white;
}



@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}



h2 {
  font-family: 'Teko', sans-serif;
  color:rgb(255,51,51);
  line-height:30px;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 23px;
}

 h3 {
  margin-top:0%;
  font-family: 'News Cycle', sans-serif;
  font-weight: 200;
  width:75vw;
  line-height:20px;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 23px;
 
}

p {
  font-family: 'News Cycle', sans-serif;
  font-size: 15px;
  font-weight:500;
  width:75vw;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.pullquote {

  font-family: 'Teko', sans-serif;
  width:140px;
  color: black;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-indent: 0;
  padding-left: 0vw;
  margin-top: 30px;
  margin-bottom: 36px;
}

@media (min-width:550px) {
  body {
    width:300px;
    margin-left:auto;
    margin-right:auto;
  }
  img{
  }
}


.next{
  position:absolute;
  border-top:20px;
  left:0;
  width: 100%;
  height: 40px;
  background: rgb(255,51,51);
}

.nextbutton{
  position:absolute;
  font-family: 'Teko', sans-serif;
  width:50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-indent: 0;
  padding-left: 68vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

.nextbutton2{
  position:absolute;
  font-family: 'Teko', sans-serif;
  width:50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-indent: 0;
  padding-left: 68vw;
  margin-top: 10px;
  margin-bottom: 0px;
}
.nextbutton3{
  position:absolute;
  font-family: 'Teko', sans-serif;
  width:50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-indent: 0;
  padding-left: 68vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

.nextbutton4{
  position:absolute;
  font-family: 'Teko', sans-serif;
  width:50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-indent: 0;
  padding-left: 68vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

.nextbutton5{
  position:absolute;
  font-family: 'Teko', sans-serif;
  width:50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-indent: 0;
  padding-left: 68vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

.1{
  content:url(post1.gif);
  position:absolute;
  top:700px;
width:100vw;

}
